<div class="class"> 
    <h2>{{'Algum texto aqui!' | uppercase}}</h2> 
    <!-- isto é um pipe e o | uppercase é para deixar em letras maiusculas-->
    <!-- dados não precisa completamente vir de propriedades pode-se trabalhar com dados aqui mesmo -->
    <h2>{{sometext | titlecase}}</h2>
    <!-- pode-se também trabalhar com dados normalmente -->
    <!-- este operador " titlecase " deixa todas as primeiras letras em maiusculos -->
    <h2>{{today | date: 'fullDate'}}</h2>
    <!-- este "| date: 'fullDate'" é outra formatação de data-->
</div>