<div class="class">
    <div *ngIf="canShow">Estamos mostrando isso porque foi permitido</div>
    <h2 *ngIf="name === 'Matheus'; else namenotfound">O nome é Matheus!</h2>
    <ng-template #namenotfound>
        <h2>O nome não foi encontrado!</h2>
    </ng-template>
</div>
<!-- o *ngif serve para dizer por exemplo, que se o valor for verdadeiro ele exibe se for falso não exibe -->
<!-- o else é para justamente para eu fazer uma ação de ser falso e quando clicar virar verdadeiro ou quando os dados forem semelhantes -->
<!-- o <ng-template> serve para usar o else como nomeei o else de namenotfound precisa do # para ficar #namenotfound -->
<!-- comentario aleatorio -->